@theme {
  --color-primary: #00f2ff;
  --color-secondary: #BC13FE;
  --color-tertiary: #FED83A;
  --color-neutral: #050505;
  
}

@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
   font-family: var(--font-sans);
    background-color: var(--color-neutral);
    color: white;
  }
}

@layer utilities {
  .bg-terminal-grid {
    background-color: var(--color-obsidian);
    background-image: 
      linear-gradient(rgba(45, 45, 45, 0.1) 1px, transparent 1px),
      linear-gradient(90deg, rgba(45, 45, 45, 0.1) 1px, transparent 1px);
    background-size: 30px 30px;
  }
}